*{
    margin:0;
    padding:0;
}
.container{
    width:100%;
     /* background:linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(orange-green-technology-background-070787698_prevstill.webp);  */
    /* background-attachment: fixed; */
    /* background-image: url(orange-green-technology-background-070787698_prevstill.webp); */
    background-position: center;
    background-size: cover;
    
    height: 100vh;
    
}
.talentSprint{
    width:1200px;
    height: 75px;
    margin:auto;}
    .icon{

        float:left;
        height: 30px;
    }
.logo{
    
        height: 60px;
        font-size: 35px;
        font-family: Arial;
        padding-left: 20px;
        float:left;
        padding-top: 10px;
    
}
.menu{
    width:400px;
    float: left;
    height: 70px;
}
ul{
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li{
    list-style: none;
    margin-left:62px;
    margin-top: 27px;
    font-size: 14px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    transition: 0.4ss ease-in-out;
}
ul li a:hover{
    color: #ff7200;
}
.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}
.srch{
    font-family: 'Times New Roman', Times, serif;
    width: 200px;
    height:40px;
    background:transparent;
    border: 1px solid #ff7200;
    margin-top: 13px;
    font-size: 16px;
    color: white;
    border-right: none;
    padding:10px;
    border-radius: 5px;

}
.btn{
    
    width: 115px;
    height:40px;
    background:#ff7200;
    border: 2px solid #ff7200;
    margin-top: 13px;
    font-size: 16px;
    color: white;
    border-radius: 5px;
}

.content{
    width:1200px;
    height: auto;
    margin: auto;
    color: white;
    position: relative;
}
.content.par{
    padding-left: 20px;
    padding-bottom: 25px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    letter-spacing: 1.2px;
    line-height: 30px;
}
.form1{

    width: 250px;
    height: 380px;
    background: linear-gradient(to top,rgba(0, 0, 0,0.8)50%,rgba(0,0,0,0.8)50%,);
    position: absolute;
    top: 50%;
    left: 1250px;
    border-radius: 10px;
    padding: 25px;
    position: absolute;
    font-style: italic;
    
    transform: translate(-50%,-50%);
    background-color: rgba(145, 137, 81, 0.36);
   
    border-radius: 20px;
    box-shadow: 0 10px rgba(110, 110, 2, 0.473);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'poppins', sans-serif;
    

}